
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 html {
   color: #606060;
   font-family: 'Roboto', sans-serif;
 }

 header {
   height: 6.5vh;
 }

 nav {
   height: 100%;
   padding: 0 90px 8px 90px;
 }

 .signin {
   border: 1px solid #EF5350;
   border-radius: 5px;
 }

 .signup {
   border-radius: 5px;
 }

 .hero h3 {
   font-weight: 900;
   margin-bottom: 36px;
 }

 /* .logo-container {
   padding: 15px 0;
 } */

 .section-hero {
   height: 90vh;
   padding: 0;
 }

.icon-block {
  padding: 0 16px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.section-map {
  height: 92vh;
  background-image: url('../img/map-colour-800px.png');
  background-size: cover;
}

.section-banner {
  height: 90vh;
}

.underline {
  border-bottom: 2px solid rgba(211, 211, 211, 0.5);
}

.map {
  padding: 0 !important;
}

.hero {
  margin-top: 30%;
}

.get-started {
  margin-top: 48px;
}

.get-started button {
  border-radius: 5px;
}

.section-feature {
  margin: 168px 0;
}

.section-feature .card {
  height: 380px;
}

.listing-address {
  color: #333333;
  padding: 1.5rem;
}

.card-visuals {
  padding-right: 1rem;
}

.card-visuals .material-icons {
  color: #333333;
  font-size: 1.25rem;
  padding-right: 3px;
}

.listing-price {
  font-size: 1.75rem;
  font-weight: 600;
}

.listing-bedrooms,
.listing-bathrooms,
.listing-car {
  font-size: 1.25rem;
}

.listing-details {
  position: relative;
  margin-top: 3rem;
}

.card-buttons {
  margin-top: 3rem;
  padding: 1.5rem 0;
}

.card-buttons a {
  height: 5rem !important;
  margin: 0 0.5rem;
  width: 5rem !important;
}

.card-buttons a i {
  font-size: 2rem !important;
  line-height: 5rem !important;
}

.card-buttons a.favorite {
  height: 7rem !important;
  width: 7rem !important;
} 

.card-buttons a.favorite i {
  font-size: 3rem !important;
  line-height: 7rem !important;
}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* this section is for quetion 1 */
 .btn{
   margin: 10px
 }

 /* this section is for Question 2 */
 #sliderCard{
  padding-bottom: 10px;
 }
 #sliderDisplay{
   padding-bottom: 22px;
  padding-top: 10px;
 }
 #sliderText{
  background: rgb(255, 233, 233);
  padding: 10px;
  border-radius: 5px;
 }

